<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd" bootstrap="vendor/autoload.php"
         colors="true" verbose="true">
    <coverage includeUncoveredFiles="true" processUncoveredFiles="true">
        <include>
            <directory suffix=".php">src/</directory>
        </include>
    </coverage>
    <php>
        <server name="KERNEL_CLASS" value="Spatie\RayBundle\Tests\TestClasses\Kernel" />
        <server name="SYMFONY_DEPRECATIONS_HELPER" value="weak" />
    </php>
    <testsuites>
        <testsuite name="Spatie Ray Bundle Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <extensions>
        <extension class="DAMA\DoctrineTestBundle\PHPUnit\PHPUnitExtension"/>
    </extensions>
</phpunit>

